@import "../../styles/color-variables.scss";
@import "../../styles/breakpoints.scss";
.register {
  &-img {
    width: 50%;
    height: auto;
  }
  &__title {
    color: $textColor_blue;
  }
  &-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
    min-height: calc(70vh + 56px + 30px);
    color: $colorTextWhite;
  }
  &-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    &-title {
      color: $colorTextDark;
      font-size: 30px;
    }
  }
  &-component {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto 0 auto;
    max-width: 400px;
    width: 100%;
    border-radius: 1rem;
    overflow: hidden;
  }
  &__password {
    display: flex;
    flex-direction: column;
  }
  &__password-top {
    position: relative;
  }
  &__password-logo {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
  }
  &__succeed {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: #DC3545;
  }
  &__group {
    display: flex;
    flex-direction: column;
  }
  &__invalid-feedback {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: 600;
    .invalid-feeback__item {
      display: flex;
      gap: 5px;
    }
    &-icon {
      fill: aquamarine;
    }
  }
  &-form-wrapper {
    padding: 40px 40px 10px 40px;
    width: 100%;
    @media (max-width: $media-width-sm) {
      padding: 15px;
    }
  }
  &__button {
    margin: 10px 0 5px 0;
    width: 100%;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    line-height: 1.1428;
    font-weight: 600;
    padding: 15px 32px;
    color: $textColor_blue;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: $backgroundColor_light_yellow;
    border: 1px solid $backgroundColor_light_yellow;
    &:hover {
      background-color: rgba($backgroundColor_light_yellow, 0.9);
      color: $textColor_blue;
      border-color: $borderColor_blue;
      transition: background-color 0.3s ease-in;
    }
  }
  &__form {
    margin-bottom: 35px;
  }
  &__option-voity {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: black;
    a {
      color: #0056b3;
    }
  }
}
@media screen and (max-width: 768px) {
  .register {
    &-container {
      flex-direction: column;
    }
    &-img {
      margin-top: 10px;
      width: 80%;
    }
  }
}
