$colorMain: #eeebe1;
$colorTextWhite: #ffffff;
$colorTextGray: #666666;
$colorTextDark: #141414;
$colorTextBrown: #b34d00;
$colorTextBlue: #1C2436;
$colorTextLightBlue: rgb(13, 110, 253);
$colorMainActive: #c7a17a;
$colorPurple: rgba(33, 27, 55, 0.9);
$colorWhite: #ffffff;
$colorGray: #F5F5F5;
$colorDarkGray: #b3b3b3;
$colorOrange: #ff7f2c;

$textColor_white: #ffffff;
$textColor_light_yellow: #ffffff;
$textColor_gray: #666666;
$textColor_blue: #1C2436;

$borderColor_blue: #1C2436;
$borderColor_light_gray: #E8E8E8;

$backgroundColor_light_yellow: #EBFA9E;
$backgroundColor_light_gray: #E8E8E8;
$backgroundColor_blue: #0460D9;
$backgroundColor_light_blue: rgb(13, 110, 253);
$backgroundColor_light_blue_hover: rgb(0, 40, 107);
$backgroundColor_orange: #EC9611;
$backgroundColor_gray: rgb(203, 203, 203, 20%);
$backgroundColor_dark_gray: #353535;
$backgroundColor_yellow: #FFC700;


$theme-colors: (
  "primary":    $backgroundColor_blue,
  // "secondary":  $secondary,
  // "success":    $success,
  // "info":       $info,
  // "warning":    $warning,
  // "danger":     $danger,
  // "light":      $light,
  // "dark":       $dark
);