@import "../../styles/color-variables.scss";
@import "../../styles/breakpoints.scss";

.footer {
  margin-top: 50px;
  min-height: 300px;
  max-width: 100%;
  width: 100%;
  padding: 100px 0 20px 0;
  background-color: $backgroundColor_blue;
  color: $colorTextWhite;
  @media (max-width: $media-width-xs) {
    padding: 40px 0 40px 0;
  }
  .footer-container.container {
    @media (max-width: $media-width-lg) {
      max-width: 1100px;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }

  &-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    @media (max-width: $media-width-xs) {
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }
    .footer__logo {
      max-width: 309px;
      width: 100%;
      height: auto;
      img {
        width: 100%;
        height: auto;
      }
      @media (max-width: $media-width-lg) {
        max-width: 250px;
      }
      @media (max-width: $media-width-xs) {
        order: 6;
        margin-top: 30px;
      }
    }
    .footer__column {
      display: flex;
      flex-direction: column;
      gap: 10px;
      font-weight: 300;
      @media (max-width: $media-width-xs) {
        flex-direction: column;
        text-align: center;
        align-items: center;
        width: 100%;
      }
      .footer__subtitle {
        color: $textColor_white;
        display: flex;
        align-items: center;
        gap: 5px;
        margin-bottom: 5px;
        font-weight: 500;
        &:nth-of-type(2) {
          margin-top: 10px;
        }
        img {
          width: 16px;
          height: 16px;
        }
      }
      &.footer__contacts {
        gap: 2px;
        @media (max-width: $media-width-xs) {
          margin-top: 10px;
        }
      }
    }
    a {
      color: $colorTextWhite;
      text-decoration: none;
      font-size: 16px;
      transition: 0.1s ease-out;
      &:hover {
        opacity: 0.7;
        transition: 0.1s ease-in-out
      }
    }
  }
}